@import "cadastro";
@import "dashboard";
@import "concurso-detalhe";
@import "dropzone";
@import "choices";
@import "flatpickr";
@import "solicitacoes";

.navbar-toggler {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    .navbar-toggler-icon {
        font-size: .75em;
    }
}

.nav-item .active {
    font-weight: 700;
}

// imagem de fundo que só aparece em telas grandes, incluir a classe decorado no body de cada página
@include media-breakpoint-up(lg) {
    body.decorado {
        background-image: url('../images/fundo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}
// deixar os placeholders mais apagados do que o padrão
::placeholder {
    opacity: .6 !important; 
}
// deixar os placeholders dos selects mais apagados do que o padrão
.form-select.unselected {
    opacity: .6;
}

// serve para deixar o botão secundário com a cor primária e estilo tint
.btn-secondary {
    color: $primary;
    background-color: rgba($primary, .1);
    border: none;
    &:hover {
        background-color: rgba($primary, .2);
        color: $primary;
    }
    &:active {
        background-color: rgba(darken($primary, 20), .2) !important;
        color: darken($primary, 20) !important;
    }
}

// deixar os espaçamentos entre as colunas menores
.row-smaller-gutter {
    --bs-gutter-x: 0.5rem;
}

