@import "cadastro";
@import "dashboard";
@import "concurso-detalhe";

.navbar-toggler {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    .navbar-toggler-icon {
        font-size: .75em;
    }
}

// imagem de fundo que só aparece em telas grandes, incluir a classe decorado no body de cada página
@include media-breakpoint-up(lg) {
    body.decorado {
        background-image: url('../images/fundo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}
// deixar os placeholders mais apagados do que o padrão
::placeholder {
    opacity: .6 !important; 
}
// deixar os placeholders dos selects mais apagados do que o padrão
.form-select.unselected {
    opacity: .6;
}

// serve para deixar o botão secundário com a cor primária e estilo tint
.btn-secondary {
    color: $primary;
    background-color: rgba($primary, .1);
    border: none;
    &:hover {
        background-color: rgba($primary, .2);
        color: $primary;
    }
    &:active {
        background-color: rgba(darken($primary, 20), .2) !important;
        color: darken($primary, 20) !important;
    }
}

// deixar os espaçamentos entre as colunas menores
.row-smaller-gutter {
    --bs-gutter-x: 0.5rem;
}

// dropzone
.dropzone {
        border: 2px dashed $primary !important;
        background: rgba($primary, 0.10);
    }
.dz-remove {
    position: absolute;
    top: -18px;
    right: -18px;
    background: $white;
    border-radius: 99px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-top: 6px;
    border: 1px solid rgba($black, .6);
    box-shadow: $box-shadow;
    transition: all .3s ease-in-out;
    &:hover {
        box-shadow: $box-shadow-sm;
    }
}
.dz-preview {
    background-color: transparent !important;
}
.dz-image {
    border-radius: $border-radius-lg !important;
}
.dz-message {
    color: $primary;
    font-weight: bold;
    padding-top: .25em;
}