#dadosPessoais {
    border-right: 1px solid rgba(black, .1);
}

#previewDados {
    .label {
        opacity: .6;
    }
    li {
        height: 56px;
        align-items: center;
    }
}

// serve para deixar o header das duas colunas com o mesmo tamanho
.headerColuna {
    height: 40px;
}