.select2-container--default .select2-selection--single {
    height: 38px;
    padding: 3px 6px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid $border-color;
    border-radius: $border-radius;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    right: 6px;
}
.select2-container {
    width: 100% !important;
}